<section class="referencesSectionWrapper">
  <div class="referencesSection container">
    <div class="referencesSection__title">
      <h2>NOS REFERENCES</h2>
      <label>#ils nous font confiance</label>
    </div>
    <div class="referencesSection__slider">
      <ngx-slick-carousel
        class="carousel sliderSection__pos"
        #slickModal="slick-carousel"
        [config]="slideConfig"
      >
        <div ngxSlickItem *ngFor="let slide of slides" class="slide">
          <img src="{{ slide.img }}" width="100%" />
        </div>
      </ngx-slick-carousel>
    </div>
  </div>
</section>
