<section class="contaienr domainSection">
  <div class="domainSection__title">
    <h2>DOMAINES D'EXPERTISE</h2>
  </div>
  <div class="domainSection__cards">
    <!-- <div *ngFor="let card of cards"  class="domainSection__card">
            <img src="{{ card.img }}" alt="">
            <h4>{{ card.title }}</h4>
        </div> -->
    <div class="domainSection__card card-animation-1">
      <img src="{{ cards[0].img }}" alt="" />
      <h4>{{ cards[0].title }}</h4>
    </div>
    <div class="domainSection__card card-animation-2">
      <img src="{{ cards[1].img }}" alt="" />
      <h4>{{ cards[1].title }}</h4>
    </div>
    <div class="domainSection__card card-animation-3">
      <img src="{{ cards[2].img }}" alt="" />
      <h4>{{ cards[2].title }}</h4>
    </div>
    <div class="domainSection__card card-animation-4">
      <img src="{{ cards[3].img }}" alt="" />
      <h4>{{ cards[3].title }}</h4>
    </div>
  </div>
</section>
