.footer-container{
    margin: 25px 90px 0 90px;
    padding: 30px;
    border-top: solid 1px #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul{
    & li {
        color: white;
    }
}

@media screen and (max-width: 679px) {
    .footer-container{
        margin: 15px;
        & p{
            text-align: center;
        }
    }
}