.heroSection__imgContainer {
    position: relative;
    z-index: 15;
    & img{
        position: absolute;
        top: -80px;
        left: 0;
        z-index: 15;
        width: 500px;
    }
}

.heroSection__content{
    position: relative;
    z-index: 16;
    color: white;
}

.heroSection__content-title{

    & h1{
        margin-top: 280px;
        font-size: 47px;
        font-family: "bakbak one", cursive;
    }
}

.heroSection__content-text{

    & p{
        font-family: "Akshar", sans-serif;
        text-align: justify;
        font-weight: 300;
        padding: 10px 0;
    }
}

.heroSection__content-btn{

    & button{
        background-color: #CE1313;
        color: #fff;
        border: none;
        border-radius: 5px;
        padding: 5px 50px;
        font-weight: 800;
    }
}

.heroSection__content-medias{
    & ul{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        gap: 15px;
        & li {
            list-style: none;
            & img{
                width: 20px;
            }
        }
    }
}