<section class="heroSection">
  <div class="heroSection__imgContainer">
    <img src="../../../assets/images/shape.png" alt="" />
  </div>
  <div class="container heroSection__content">
    <div class="row">
      <div class="col-xs-12 col-md-6 heroSection__content-title">
        <h1>BUSINESS TECHNOLOGY CONSULTING</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5 col-xs-12 heroSection__content-text">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae
          blanditiis accusamus non optio neque accusantium officiis cupiditate
          consequatur at atque eius vel quas, harum dolorum animi voluptate,
          iure delectus sit!
        </p>
      </div>
      <div class="col-md-6 col-xs-12"></div>
      <div class="col-md-1 col-xs-12 heroSection__content-medias">
        <ul>
            <li><img src="../../../assets/images/facebook-icon.png" alt=""></li>
            <li><img src="../../../assets/images/linkedin-iconpng.png" alt=""></li>
            <li><img src="../../../assets/images/twitter-icon.png" alt=""></li>
        </ul>
      </div>
    </div>
    <div class="row">
         <div class="col-md-2 heroSection__content-btn">
            <button>Explorer</button>
         </div>
    </div>
  </div>
</section>
