<section class="DomainSectionWrapper">
    <div class="domainSection_shapes">
      <img
        src="../../../assets/images/isShape-domain.png"
        class="domainSection__shape"
        alt=""
      />
    </div>
    <!--start of the first part : domain d'expertise-->
    <div class="domainSection">
      <div class="contaienr domainSection_container">
        <div class="domainSection__title">
          <h2>DOMAINES D'EXPERTISE</h2>
          <label>#OUR SERVICE</label>
        </div>
        <div class="domainSection__cards">
          <div class="domainSection__card card-animation-1">
            <img src="{{ cards[0].img }}" alt="" />
            <h4>{{ cards[0].title }}</h4>
          </div>
          <div class="domainSection__card card-animation-2">
            <img src="{{ cards[1].img }}" alt="" />
            <h4>{{ cards[1].title }}</h4>
          </div>
          <div class="domainSection__card card-animation-3">
            <img src="{{ cards[2].img }}" alt="" />
            <h4>{{ cards[2].title }}</h4>
          </div>
          <div class="domainSection__card card-animation-4">
            <img src="{{ cards[3].img }}" alt="" />
            <h4>{{ cards[3].title }}</h4>
          </div>
          <div class="domainSection__card card-animation-4">
            <img src="{{ cards[3].img }}" alt="" />
            <h4>{{ cards[3].title }}</h4>
          </div>
        </div>
      </div>
    </div>
    <!--end of the first part : domain d'expertise-->
    <div class="forceSection__titleContainer">
      <div class="container forceSection__title">
        <h2>NOS FORCE</h2>
        <label>#why choose us</label>
      </div>
    </div>
    <div class="forceSection">
      <div class="forceSection_bgShape">
        <img src="../../../assets/images/domain_animation.gif" alt="" />
      </div>
      <div class="forceSection__content container">
        <div class="forceSection__content-pos_left row">
          <div class="forceSection__content-left col-md-5 col-xs-12">
            <p>Rassembler et faire collaborer les meilleurs</p>
            <label>01</label>
          </div>
        </div>
  
        <div class="forceSection__content-pos_right row">
          <div class="forceSection__content-right col-md-5 col-xs-12">
            <label>02</label>
            <p>+20 ans de retours d’expérience</p>
          </div>
        </div>
  
        <!-- <div class="forceSection__content-pos_left row">
          <div class="forceSection__content-left col-md-5 col-xs-12">
            <p>Rapport qualité/coût
              très élevé</p>
            <label>03</label>
          </div>
        </div> -->
  
        <!-- <div class="forceSection__content-pos_right row">
          <div class="forceSection__content-right col-md-5 col-xs-12">
            <label>04</label>
            <p>Une culture réelle du test & de la qualité</p>
          </div>
        </div> -->
      </div>
    </div>
  
    <div class="domainSection_shapes">
      <img
        src="../../../assets/images/isShape-domain2.png"
        class="domainSection__shape-02"
        alt=""
      />
    </div>
  </section>
  