<div>
    <app-background-video></app-background-video>
    <section class="home-container">
        <app-navbar></app-navbar>
        <div style="margin-top: 60px;" class="container">
            <div class="row">
                <div class="col-md-12 col-xs-12 center-block">
                    <h1 class="oswald margin-bottom">ATTIME TECHNOLOGIES</h1>
                </div>
                <div class="col-md-12 col-xs-12 center-block">
                    <div style="font-size: 45px;" class="title-divider"></div>
                </div>
                <div class="col-md-12 col-xs-12 center-block">
                    <p style="font-size: 30px;" class="oswald margin-top">est incroyablement expert en domaine des Nouvelles Technologies d'inforation</p>
                </div>
            </div>
            <div>
                <app-cards></app-cards>
            </div>
        </div>
        <app-footer></app-footer>
    </section>
</div>
