<section class="footerBtcSection">
    <div class="footerBtcSection__background">
      <img
        class="footerBtcSection__bgImg"
        src="../../../assets/images/ddfFooter.png"
        alt=""
      />
    </div>
    <div class="container">
      <div class="footerBtcSection__content row">
        <div class="col-md-3 col-xs-12">
          <img src="../../../assets/images/2-removebg-preview1.png" alt="" />
        </div>
        <div class="col-md-3 col-xs-12">
          <div class="footerBtcSection__content-title">
            <h4>CONTACTEZ-NOUS</h4>
          </div>
          <div class="footerBtcSection__content-text">
            <p>
              International :(+212) 5 37 79 65 94 Fax :(+212) 5 37 79 03 30<br />
              Email :isicod@isicod.net
            </p>
          </div>
        </div>
        <div class="col-md-3 col-xs-12">
          <div class="footerBtcSection__content-title">
            <h4>ADRESSE</h4>
          </div>
          <div class="footerBtcSection__content-text">
            <!-- <div>
              <img src="../../../assets/images/Placeholder.png" alt="" />
              <p>
                Route de zeer mathis, 571 souissi,bloc a étage 2 av med 6 10000
              </p>
            </div> -->
            <div>
              <img src="../../../assets/images/Placeholder.png" alt="" />
              <p>
                3,avenue al massira, complexe yaacoub mansour (cym) rabat maroc
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="footerBtcSection__content-copyrights row">
        <div class="col-md-6 col-xs-12">
          <p>© Copyrights ATTIME TECHNOLOGIES. All Rights Reserved</p>
        </div>
      </div>
    </div>
  </section>
  